/*Chili Pepper Ex*/
/*h2 {*/
/*    color: white;*/
/*    font-size: 40px;*/
/*}*/

/*.chili-container {*/
/*    background-image: url("../img/bg.png");*/
/*    background-size: contain;*/
/*    width: 500px;*/
/*    padding: 40px;*/
/*    border-radius: 25px;*/
/*}*/
/*.dark-mode {*/
/*    border: 2px solid white;*/
/*    border-radius: 25px;*/
/*    width: 400px;*/
/*    padding: 40px;*/
/*    background: darkred;*/
/*    color: white;*/
/*}*/

/*img {*/
/*    height: 40px;*/
/*    float: left;*/
/*    padding-top: 30px;*/
/*    padding-right: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

body {
    background-color: #dbdbdb;
    background-image: url("../img/bgimage.png");
    background-size: cover;
    color: white;
    font-family: 'Roboto';
}
.fancy-header {
    text-align: center;
}

.tag-line {
    font-weight: 100;
}

h1  {
    border-bottom: 2px solid gray;
    padding: 10px;
}

li {
    list-style: circle;
}

table, td, th {
    border: 1px solid white;
    padding: 5px;
    font-weight: 100;
    font-size: 13px;
    text-align: center;
}

th {
    background: white;
    color: black;
    font-weight: 700;
}

a:link {
    color: blue;
}

a:visited {
    color: darkgray;
}

a:hover {
    color: lightblue;
}

